@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row home-page-links">
        <div class="col-md-6 link-1">
            <a asp-area="" asp-controller="Patnicis" asp-action="Create">
                <h4><i class="fa fa-plane"></i> Book a New Flight </h4>
            </a>
        </div>
        <div class="col-md-6 link-2">
            <a asp-area="" asp-controller="Patnicis" asp-action="Index">
                <h4><i class="fa fa-address-card"></i> View All booked Flights </h4>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="~/img/logo.png" class="logo" />
        </div>
    </div>
</div>