@model NebbAir.Models.Patnici

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Patnici</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatnikID" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezime" class="control-label"></label>
                <input asp-for="Prezime" class="form-control" />
                <span asp-validation-for="Prezime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNaRagjanje" class="control-label"></label>
                <input asp-for="DataNaRagjanje" class="form-control" />
                <span asp-validation-for="DataNaRagjanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassporNo" class="control-label"></label>
                <input asp-for="PassporNo" class="form-control" />
                <span asp-validation-for="PassporNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FlightNo" class="control-label"></label>
                <input asp-for="FlightNo" class="form-control" />
                <span asp-validation-for="FlightNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Origin" class="control-label"></label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Destination" class="control-label"></label>
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure" class="control-label"></label>
                <input asp-for="Departure" class="form-control" />
                <span asp-validation-for="Departure" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Return" class="control-label"></label>
                <input asp-for="Return" class="form-control" />
                <span asp-validation-for="Return" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarryOn" class="control-label"></label>
                <input asp-for="CarryOn" class="form-control" />
                <span asp-validation-for="CarryOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trolley" class="control-label"></label>
                <input asp-for="Trolley" class="form-control" />
                <span asp-validation-for="Trolley" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //regex broj na pasos
    $(document).ready(function () {
        $("input#PassporNo").on("input", function () {
            var input = document.getElementById("PassporNo").value;
            var regex = new RegExp("^[A-Z0-9]+$")
            if (regex.test(input) && input.length === 8) {
                console.log("Rabote");
                $("input#PassporNo").css("border-color", "green")
            }
            else {
                console.log("asd");
                $("input#PassporNo").css("border-color", "red")
            }
            //console.log(regex.test(input));
        })
    })
    //regex broj na let
    $(document).ready(function () {
        $("input#FlightNo").on("input", function () {
            var input = document.getElementById("FlightNo").value;
            var regex = new RegExp("^[0-9]+$")
            if (regex.test(input) && input.length === 4) {
                console.log("Rabote");
                $("input#FlightNo").css("border-color", "green")
            }
            else {
                console.log("asd");
                $("input#FlightNo").css("border-color", "red")
            }
            //console.log(regex.test(input));
        })
    })
    //function on submit
    function Proverka() {
        var pasos = document.getElementById("PassoprNo").value;
        var pasosRegex = new RegExp("^[A-Z0-9]+$");
        var let = document.getElementById("FlightNo").value;
        var letRegex = new RegExp("^[0-9]+$");
        if (pasosRegex.test(pasos) && pasos.length === 7) {
            console.log("")
        }
        else {
            alert("Input correct passport number");
        }
        if (letRegex.test(let) && let.length === 4) {
            console.log("")
        }
        else {
            alert("Input correct flight number");
        }
    }
</script>